<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../dist/output.css" rel="stylesheet">
</head>
<body>
    <div class="c-container">
        <header class="container__header">
            <h1 class="calc-title text-[2rem] font-bold">Calc</h1>
        </header>
        <div class="container__screen text-[2rem] font-bold">25</div>
        <div class="container__buttons grid grid-cols-4 gap-4">
            <button class="btn bg-[#eae3dc] text-[#444b5a] text-[2rem] shadow-[0_4px_#b4a597]">7</button>
            <button class="btn bg-[#eae3dc] text-[#444b5a] text-[2rem] shadow-[0_4px_#b4a597]">8</button>
            <button class="btn bg-[#eae3dc] text-[#444b5a] text-[2rem] shadow-[0_4px_#b4a597]">9</button>
            <button class="btn bg-[#637097] text-[#fff] text-base shadow-[0_4px_#404e72]">DEL</button>
            <button class="btn bg-[#eae3dc] text-[#444b5a] text-[2rem] shadow-[0_4px_#b4a597]">4</button>
            <button class="btn bg-[#eae3dc] text-[#444b5a] text-[2rem] shadow-[0_4px_#b4a597]">5</button>
            <button class="btn bg-[#eae3dc] text-[#444b5a] text-[2rem] shadow-[0_4px_#b4a597]">6</button>
            <button class="btn bg-[#eae3dc] text-[#444b5a] text-[2rem] shadow-[0_4px_#b4a597]">+</button>
            <button class="btn bg-[#eae3dc] text-[#444b5a] text-[2rem] shadow-[0_4px_#b4a597]">1</button>
            <button class="btn bg-[#eae3dc] text-[#444b5a] text-[2rem] shadow-[0_4px_#b4a597]">2</button>
            <button class="btn bg-[#eae3dc] text-[#444b5a] text-[2rem] shadow-[0_4px_#b4a597]">3</button>
            <button class="btn bg-[#eae3dc] text-[#444b5a] text-[2rem] shadow-[0_4px_#b4a597]">-</button>
            <button class="btn bg-[#eae3dc] text-[#444b5a] text-[2rem] shadow-[0_4px_#b4a597]">.</button>
            <button class="btn bg-[#eae3dc] text-[#444b5a] text-[2rem] shadow-[0_4px_#b4a597]">0</button>
            <button class="btn bg-[#eae3dc] text-[#444b5a] text-[2rem] shadow-[0_4px_#b4a597]">/</button>
            <button class="btn bg-[#eae3dc] text-[#444b5a] text-[2rem] shadow-[0_4px_#b4a597]">X</button>
            <div class="btn col-span-2 bg-[#637097] text-[#fff] text-base shadow-[0_4px_#404e72] leading-[60px]">RESET</div>
            <div class="btn col-span-2 bg-[#d03f2f] text-[#fff] text-base shadow-[0_4px_#93261a] leading-[60px]">=</div>
        </div>
    </div>
</body>
</html>
